{% extends 'base.html' %}

{% block content %}
<style id="post">

:root {
	--bgColor: #C8C2AA;
	--color: #4D493E;
	--letterSpacing: 0.1rem;
	--boxShadow: 3px 3px 0 rgba(77, 73, 62, 0.6);
	}
	@font-face {
	font-family: 'Amun Celestial';
	src: url('/static/resources/font/amun_celestial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

	/* Reset Focus Outline */
	*:focus {
	outline: none !important;
	}

	/* Body Styles */
	body {
	background-color: var(--bgColor);
	background-size: 4px 4px;
	background-image: linear-gradient(
		90deg,
		transparent,
		transparent 3px,
		rgba(0, 0, 0, 0.07) 4px
	),
	linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
	color: var(--color);
	font-family: "Noto Sans", sans-serif;
	font-weight: 300;
	margin: 0;
	min-height: 100vh;
	box-shadow: inset 0 0 150px rgba(77, 73, 62, 0.4), inset 0 0 150px rgba(77, 73, 62, 0.3);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	letter-spacing: var(--letterSpacing);
	}

	/* Container Styles */
	.container {
	padding: 0 4rem;
	}

	/* Header Styles */
	header {
	padding: 1rem 0;
	}

	/* Heading Styles */
	h1 {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.7rem;
	text-shadow: 0.3rem 0.3rem 0 rgba(77, 73, 62, 0.3);
	}

	/* Span Styles */
	h1 span {
	margin-right: -0.7rem;
	}

	/* Small Styles */
	h1 small::before {
	content: "–";
	}

	h1 small {
	font-weight: 500;
	text-transform: none;
	text-shadow: none;
	letter-spacing: var(--letterSpacing);
	}

	/* Pattern Styles */
	.pattern {
	border-top: 2px solid var(--color);
	}

	/* Pattern Inner Styles */
	.pattern-inner {
	height: 40px;
	background-size: 50px 3px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px;
	background-position: 0 0, 22px 4px, 22px 5px, 22px 6px, 22px 7px, 28px 12px, 28px 13px, 28px 14px, 28px 15px;
	background-image: linear-gradient(
		90deg,
		var(--color),
		var(--color) 10px,
		transparent 10px
	),
	linear-gradient(
		90deg,
		var(--color),  /* Another gradient definition */
		var(--color) 10px,  /* Another gradient definition */
		transparent 10px  /* Another gradient definition */
	);
	background-repeat: repeat-x;
	}


.menu__toggler {

  top: 20px;
  left: 20px;
  z-index: 999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: rgb(0, 1, 0);
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.menu__toggler span::before {
  top: -8px;
}
.menu__toggler span::after {
  top: 8px;
}
.menu__toggler.active > span {
  background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background: seashell;
  top: 0px;
  z-index: 1000; /* Assign a higher z-index */
}
.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.menu {
  position: absolute;
  left: -30%;
  z-index: 998;
  color: seashell;
  background: rgb(147, 75, 0);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}
@media only screen and (max-width: 600px) {
  .menu {
    width: 250px;
    left: -250px;
    padding: 50px;
  }
}
.menu.active {
  left: 0;
}
.menu p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
/* Basic styling for the post card */
.post-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Set the width to 100% */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}


.post-card {
    background-color: var(--bgColor);
    border: 1px solid transparent;
    margin: 10px;
    padding: 10px;
    width: calc(33.33% - 20px); /* 33.33% - 20px for spacing */
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Assign a higher z-index */
}

.post-card::before {
    content: "";
    position: absolute;
    left: -100%; /* Start off-screen to the left */
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    transition: left 0.2s; /* Transition the left property */
		z-index: -100; /* Assign a higher z-index */

}

.post-card:hover::before {
    left: 0; /* Slide in from left to right on hover */
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    color: white;
}

.post-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
    object-position: center center; /* Center the image */
    border-radius: 10px;
}


.post-actions button {
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.post-caption {
    font-weight: normal;
    color: white;
}

.post-comments {

}

/* Create a flex container for the post cards */
.post-container {
    text-align: center; /* Center-align the cards within the container */
}

a.navbar-brand {
    color: seashell;
}


</style>
    
<div class="menu">
    <a class="navbar-brand" href="{{ url_for('GifViewer')}}">3D Loader</a>

</div>
<div class="menu__toggler">
    <span></span>
</div>

<div class="post-card-container" id="post-card-container">
</div>
<script type="importmap">
    {
        "imports": {
            "three": "/static/build/three.module.js"
        }
    }
</script>
<script type="module">

  get_txt()
  function get_txt() {
    // Fetch the text file
    fetch("/static/user_data/Gif_list.txt")
      .then(function(response) {
        if (!response.ok) {
            throw new Error("Network response was not ok");
        }
        return response.text();
    })
    .then(function(text) {
        var lines = text.split('\r\n'); // Split the text into an array of lines
        if (lines.length > 1) {
            lines.pop();
        } else {
            console.log("no previous model");
        }
        var modelArray = [];
        var animArray = [];

        lines.forEach(function(line) {
            var parts = line.split("@");
            if (parts.length === 2) {
                modelArray.push(parts[0]);
                animArray.push(parts[1]);
                show(line,parts[0],parts[1])
            }
        });

        console.log("Model Array:", modelArray);
        console.log("Anim Array:", animArray);
        return lines;
    })
    .catch(function(error) {
        console.error("Error loading the file:", error);
    });
  }

  function show(gif,name,animation) {
      // Create a post card element
      const postCard = document.createElement('div');
      postCard.classList.add('post-card');

      // Create and append elements for the post card content
      const postHeader = document.createElement('div');
      postHeader.classList.add('post-header');
      postCard.appendChild(postHeader);

      const userProfilePicture = document.createElement('img');
      userProfilePicture.src = 'static/resources/Icons/'+name+'.jpeg'; // Update the image source
      userProfilePicture.alt = 'User Profile Picture';
      postHeader.appendChild(userProfilePicture);
      const username = document.createElement('span');
      username.classList.add('username');
      username.textContent = name;
      postHeader.appendChild(username);

      const postImage = document.createElement('img');
      postImage.classList.add('post-image');
      postImage.src = 'static/user_data/gif/'+gif; // Update the image source
      postImage.alt = 'Post Image';
      postCard.appendChild(postImage);

      const postActions = document.createElement('div');
      postActions.classList.add('post-actions');
      postCard.appendChild(postActions);

      const postCaption = document.createElement('div');
      postCaption.classList.add('post-caption');
      postCaption.textContent = "Animation: " + animation.replace(".gif","");
      postCard.appendChild(postCaption);

			const postcontainer = document.getElementById("post-card-container");
      postcontainer.appendChild(postCard);

  }
  const toggler = document.querySelector('.menu__toggler');
  const menu = document.querySelector('.menu');
      toggler.addEventListener('click', () => {
      toggler.classList.toggle('active');
      menu.classList.toggle('active');
  });
  // Get all anchor tags inside the side menu
  // Function to create a new menu item
  function createMenuItem(text, href) {
      const menu = document.querySelector('.menu');
      
      // Create a new anchor tag
      const menuItem = document.createElement('a');
      menuItem.href = href;
      menuItem.classList.add('nav-link');
      
      // Create a paragraph element for the menu item text
      const menuText = document.createElement('p');
      menuText.textContent = text;
      menuText.style.color = "seashell"; // Set the text color to seashell

      
      // Append the text to the anchor tag and the anchor tag to the menu
      menuItem.appendChild(menuText);
      menu.appendChild(menuItem);
  }

</script>
{% endblock %}
