{% extends 'base.html' %}

{% block content %}
<style id="background">
    body {
      background-image: url('/static/css/model_blurred.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      overflow: hidden; /* This prevents scrolling */
    }

    #button-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh; /* 1/10 of the viewport height */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Center vertically */
        background-color: rgb(0, 0, 0,0);
        z-index: 100;
    }

    #button-container {
        display: flex;
        gap: 20px;
    }
    .circle-button-wrapper {
        position: relative;
        align-items: center; /* Center horizontally */
        display: inline-block;
    }

    .circle-button {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #3498db;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    .spinner {
        width: 60px; /* Adjust width to match your image size */
        height: 60px; /* Adjust height to match your image size */
        background-image: url('static/resources/Icons/1437113.png'); /* Replace with your image path */
        background-size: cover; /* Adjust background size as needed */
        background-repeat: no-repeat;
        animation: spin 4s linear infinite;
        box-sizing: border-box;
        position: absolute;
        /* transform: translate(-10%, -10%); */
        z-index: 1; /* Place spinner behind circle button */
        left: calc(50% - 30px); /* Adjust left to position the spinner */
        top: calc(50% - 30px); /* Adjust left to position the spinner */
        opacity : 0
    }

    .circle-button:hover {
        background-color: #2c3e50; /* Change to a darker color on hover */
    }
    .circle-button.selected {
        background-color: rgb(241, 241, 165); /* Change color to yellow for selected button */
        color: rgb(7, 7, 7);
    }


    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .photo-button {
        width: 50px;
        height: 50px;
        top: 0%;
        right: 5%;
        margin-top: -50px;
        margin-left: -50px;
        position: absolute;
    }
    .circle {
        position: absolute;
        top: 12%;
        left: 12%;
        bottom: 12%;
        right: 12%;
        border-radius: 100%;
        background-color: seashell;
        /* animation: breathe 4s infinite alternate paused; Apply the breathing animation with 'paused' state */
        opacity: 1;
        z-index: 11;
    }
    .animate {
        animation: breathe 4s infinite alternate;
    }
    .circle img {
        position: absolute; /* Position the image absolutely within the .circle */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover the circle */
        border-radius: 100%; /* Apply border-radius to match the circle */
    }

    .ring {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        border-radius: 100%;
        border: 0.5em solid #000000;
        opacity: 0;
        z-index: 10;
    }

    .ring2 {
        position: absolute;
        top: -30%; /* Adjust top, left, bottom, right, and size as needed */
        left: -30%;
        bottom: -30%;
        right: -30%;
        
        /* Use background-image property to set the JPEG image */
        background-image: url('static/resources/Icons/icon3.png');
        background-size: cover; /* Adjust this property to control how the image is displayed */
        background-repeat: no-repeat; /* Prevent image repetition */
        background-position: center center; /* Center the image */
        animation: spin 4s linear infinite;
        border-radius: 100%; /* You can adjust this to control the roundness of the ring */
        border: 0.5em solid transparent; /* Remove border color, if not needed */
        opacity: 0;
    }
    @keyframes breathe {
        0% {
            background-color: seashell; /* Start with red */
        }
        100% {
            background-color: #ff0000; /* End with seashell */
        }
    }

    .menu__toggler {

    top: 20px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    }
    .menu__toggler span,
    .menu__toggler span::before,
    .menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    .menu__toggler span::before {
    top: -8px;
    }
    .menu__toggler span::after {
    top: 8px;
    }
    .menu__toggler.active > span {
    background: transparent;
    }
    .menu__toggler.active > span::before, .menu__toggler.active > span::after {
    background: #ffffff;
    top: 0px;
    z-index: 1000; /* Assign a higher z-index */
    }
    .menu__toggler.active > span::before {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
    }
    .menu__toggler.active > span::after {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    }
    .menu {
    position: absolute;
    left: -100%;
    z-index: 998;
    color: #005c9c;
    background: rgb(7, 5, 5);
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 30%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
    }
    @media only screen and (max-width: 600px) {
    .menu {
        width: 250px;
        left: -250px;
        padding: 50px;
    }
    }
    .menu.active {
    left: 0;
    }
    .menu p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    }
    
</style> 
  
<script type="importmap">
    {
        "imports": {
            "three": "/static/build/three.module.js"
        }
    }
</script>

<script src="/static/gif/gif.js.optimized-master/main/gif.js"></script>


<div class="overlay">
    <div id="button-overlay">
        <div id="button-container">
            <div class="photo-button" >
                <div class="circle" id="record_trigger" >
                    <img src="/static/resources/Icons/recording icon.png" alt="Your Photo">
                </div>
                <div class="ring" id="trigger_ring"></div>
                <div class="ring2" id="trigger_ring2"></div>
            </div>
        </div>
    </div>
</div>
<div id="notification-bar"></div>


<div class="menu">
    <input type="file" id="fileInput" style="display: none;" accept=".fbx">
    <a class="navbar-brand" href="#" style="color: #fff;" onclick="document.getElementById('fileInput').click(); return false;">upload</a> 
</div>
<div class="menu__toggler">
    <span></span>
</div>



<script type="module">
    import * as THREE from 'three';

    import Stats from '/static/jsm/libs/stats.module.js';
    import { MTLLoader } from '/static/jsm/loaders/MTLLoader.js'
    import { OrbitControls } from '/static/jsm/controls/OrbitControls.js';
    import { FBXLoader } from '/static/jsm/loaders/FBXLoader.js';
    import { OBJLoader } from '/static/jsm/loaders/OBJLoader.js'
    import * as  SkeletonUtils from '/static/jsm/utils/SkeletonUtils.js'
    let camera, scene, renderer, stats;


    const clock = new THREE.Clock();
    let xbot=null
    const animationList = [];
    const ModelList = [];
    let currentAnimIndex=0;
    let currentModelIndex=0
    let mixer
    let xbothelper=null
    let objecthelper=null
    let action =null
    let loader=null
    let ModelTable = []
    const AnimTable =["stand-talk","handshake","female-dance"]

    init();
    animate();
 
    function init() {
        const container = document.createElement( 'div' );
        document.body.appendChild( container );
        camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 2000 );
        camera.position.set( 100, 200, 300 );

        scene = new THREE.Scene();
        scene.background = new THREE.Color( 0xffffff );
        // scene.fog = new THREE.Fog( 0xa0a0a0, 200, 1000 );

        const hemiLight = new THREE.HemisphereLight( 0xffffff, 0x444444, 4 );
        hemiLight.position.set( 0, 200, 0 );
        scene.add( hemiLight );
        const dirLight = new THREE.DirectionalLight( 0xffffff, 1.5 );
        dirLight.position.set( 0, 200, 100 );
        dirLight.castShadow = true;
        dirLight.shadow.camera.top = 180;
        dirLight.shadow.camera.bottom = - 100;
        dirLight.shadow.camera.left = - 120;
        dirLight.shadow.camera.right = 120;
        const mesh = new THREE.Mesh( new THREE.PlaneGeometry( 2000, 2000 ), new THREE.MeshPhongMaterial( { color: 0x999999, depthWrite: false } ) );
        mesh.rotation.x = - Math.PI / 2;
        mesh.receiveShadow = true;
        const grid = new THREE.GridHelper( 200, 20, 0x000000, 0x000000 );
        grid.material.opacity = 0.2;
        grid.material.transparent = true;
        scene.add( grid );
        const tex_loader = new THREE.CubeTextureLoader();
        const texture = tex_loader.load([
            '/static/resources/posx.jpg',
            '/static/resources/negx.jpg',
            '/static/resources/posy.jpg',
            '/static/resources/negy.jpg',
            '/static/resources/posz.jpg',
            '/static/resources/negz.jpg',
        ]);
        const loader = new FBXLoader();
        const anim = new FBXLoader()
        renderer = new THREE.WebGLRenderer( { antialias: true , preserveDrawingBuffer: true} );
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( window.innerWidth, window.innerHeight );
        renderer.shadowMap.enabled = true;
        container.appendChild( renderer.domElement );
        const controls = new OrbitControls( camera, renderer.domElement );
        controls.target.set( 0, 100, 0 );
        controls.update();
        window.addEventListener( 'resize', onWindowResize );
        document.addEventListener('keydown', handleKeyDown);
        Getanimation(AnimTable,anim)
        get_txt()
    }
    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize( window.innerWidth, window.innerHeight );
    }
    function dimAndDisableButtons() {
        // Get the #button-container element
        const buttonContainer = document.getElementById("button-container");

        // Apply CSS styles to dim and disable buttons
        buttonContainer.style.opacity = "0.5"; // Dim the container
        buttonContainer.style.pointerEvents = "none"; // Make it unclickable

        const buttons = buttonContainer.querySelectorAll("button");
        buttons.forEach((button) => {
            button.disabled = true; // Disable individual buttons
        });
    }
    function undimAndEnableButtons() {
        // Get the #button-container element
        const buttonContainer = document.getElementById("button-container");

        // Reset CSS styles to their default values
        buttonContainer.style.opacity = "1"; // Restore full opacity
        buttonContainer.style.pointerEvents = "auto"; // Re-enable clicking

        const buttons = buttonContainer.querySelectorAll("button");
        buttons.forEach((button) => {
            button.disabled = false; // Re-enable individual buttons
        });
    }

    function getOneModel(path,loader)
    {
        console.log(path)
        new FBXLoader().load('/static/resources/models/dummy/xbot.fbx', (object)=>{ 
                xbot=object
                console.log("xbot",xbot)
            })
        loader.load('/static/user_data/model/' +path, function (object) {
            object.traverse(function (child) {
                if (child.isMesh) {
                    child.castShadow = true;
                    child.receiveShadow = true;
                }
            });
            const localMixer = new THREE.AnimationMixer(object);
            ModelList.push({ model: object,mixer: localMixer, name: path });
            ModelTable.push(path);
        });
        var Tempname=path
        Tempname=Tempname.replace('.fbx','');
        Tempname=Tempname+'.jpeg';
        let i =  ModelList.length;
        console.log(i,Tempname)
        generateButton(Tempname,i);
    }
    async function GetModel(ModelTable, loader) {
        return new Promise((resolve, reject) => {
            const loadModelPromises = [];
            new FBXLoader().load('/static/resources/models/dummy/xbot.fbx', (object)=>{ 
                xbot=object
                console.log("xbot",xbot)
            })
            const loadModel = async (modelPath) => {
                modelPath=modelPath.replace(".fbx","")
                return new Promise((resolveModel, rejectModel) => {
                    loader.load('/static/user_data/model/' +modelPath+'.fbx', function (object) {
                        object.traverse(function (child) {
                            if (child.isMesh) {
                                child.castShadow = true;
                                child.receiveShadow = true;
                            }
                        });
                        const localMixer = new THREE.AnimationMixer(object);
                        ModelList.push({ model: object,mixer: localMixer, name: modelPath });
                        
                        resolveModel();
                    }, undefined, rejectModel);
                });
            };

            for (let i = 0; i < ModelTable.length; i++) {
                loadModelPromises.push(loadModel(ModelTable[i]));
                
            }

            Promise.all(loadModelPromises)
                .then(() => {
                    resolve();
                    for (let i = 0; i < ModelTable.length; i++) {
                        var Tempname=ModelList[i].name
                        Tempname=Tempname.replace('.fbx','');
                        Tempname=Tempname+'.jpeg';
                        console.log(i,Tempname)
                        generateButton(Tempname,i);
                    }
                })
                .catch((error) => {
                    console.error('Error loading models:', error);
                    reject();
                });
        });
    }

    function swapModel(index)
    {
        let selected_model=ModelList[index].model;

        objecthelper = new THREE.SkeletonHelper(selected_model);
        objecthelper.skeleton = new THREE.Skeleton(objecthelper.bones)
        xbothelper = new THREE.SkeletonHelper(xbot);
        xbothelper.skeleton = new THREE.Skeleton(xbothelper.bones)
        removeModelFromScene()
        currentModelIndex=index
        let anim=animationList[currentAnimIndex][1]
        let new_anim = SkeletonUtils.retargetClip(objecthelper, 
                                                                xbothelper, 
                                                                anim, 
                                                                {preserveMatrix : true,
                                                                    preservePosition: true,
                                                                    preserveHipPosition: false,
                                                                    useTargetMatrix:false,
                                                                    hip : 'pelvis',
                                                                    useFirstFramePosition:false})

        mixer = new THREE.AnimationMixer(selected_model.children[1])
        action= mixer.clipAction(new_anim)
        scene.add(selected_model)
        console.log(selected_model)
        action.play()
        
    }

    function removeModelFromScene() {
        if (ModelList.length > 0) {
            const modelToRemove = ModelList[currentModelIndex].model;
            scene.remove(modelToRemove);
        }
    }


    function Getanimation(AnimTable,loader)
    {
        let i=0
        while(i<AnimTable.length)   
        {
            loader.load('/static/resources/models/raw_motion/'+AnimTable[i]+".fbx", (fbx) => {
                let animation = fbx.animations;
                if (animation && animation.length > 0) {
                    animationList.push(animation);
                }
                }, (xhr) => {
                }, (error) => {
                    console.error('Error loading FBX model:', error);
                }
            );
            i++
        }
    }

    function animate() {
        requestAnimationFrame( animate );
        const delta = clock.getDelta();
        if ( mixer ) mixer.update( delta );
        renderer.render( scene, camera );
        // stats.update();
    }
    function playAnimation(nextAnimation) {
        let anim=animationList[nextAnimation][1]
        let new_anim = SkeletonUtils.retargetClip(objecthelper, 
                                                                xbothelper, 
                                                                anim, 
                                                                {preserveMatrix : true,
                                                                    preservePosition: true,
                                                                    preserveHipPosition: false,
                                                                    useTargetMatrix:false,
                                                                    hip : 'pelvis',
                                                                    useFirstFramePosition:false})
        currentAnimIndex=nextAnimation
        action.stop();
        action.reset();
        action = mixer.clipAction(new_anim)
        action.play();
    }

    function switchAnimation(nextAnimation) {
        playAnimation(nextAnimation);
    }
    function handleKeyDown(event) {
        const keyCode = event.keyCode || event.which;
        const key = event.key;

        // Check for arrow key codes or keys
        switch (key) {
            case 'ArrowLeft':
                switchAnimation((animationList.length+currentAnimIndex-1)%animationList.length)
                // Handle left arrow key
                // For example, rotate the camera or perform an action
                break;
            case 'ArrowRight':
                switchAnimation((currentAnimIndex+1)%animationList.length)
                // Handle right arrow key
                break;
            case 'ArrowUp':
                swapModel((ModelList.length+currentModelIndex-1)%ModelList.length)
                // Handle up arrow key
                break;
            case 'ArrowDown':
                swapModel((currentModelIndex+1)%ModelList.length)
                // Handle down arrow key
                break;
            default:
                // Other key, do nothing
                break;
        }
    }
    function generateButton(imagePath, buttonIndex) {
        const buttonContainer = document.getElementById('button-container');

        const buttonWrapper = document.createElement('div');
        buttonWrapper.classList.add('circle-button-wrapper');

        const spinner = document.createElement('div');
        spinner.classList.add('spinner');

        const imageButton = document.createElement('div');
        imageButton.classList.add('circle-button');

        imagePath= "static/resources/Icons/"+imagePath;
        imageButton.style.backgroundImage = `url(${imagePath})`;
        imageButton.style.backgroundSize = 'contain';
        imageButton.style.backgroundRepeat = 'no-repeat';
        imageButton.style.backgroundPosition = 'center';

        imageButton.addEventListener('click', () => {
            // Hide all spinners
            const spinners = document.querySelectorAll('.spinner');
            spinners.forEach(spinner => spinner.style.opacity = 0);

            // Toggle the visibility of the spinner for the clicked button
            const clickedSpinner = buttonWrapper.querySelector('.spinner');
            clickedSpinner.style.opacity = 1;

            swapModel(buttonIndex);
            currentModelIndex = buttonIndex;

            // Clear selected class from other buttons
            const buttons = document.querySelectorAll('.circle-button');
            buttons.forEach(button => button.classList.remove('selected'));

            // Add selected class to the clicked button
            imageButton.classList.add('selected');
        });

        // Append spinner and image button to the wrapper
        buttonWrapper.appendChild(spinner);
        buttonWrapper.appendChild(imageButton);

        // Append the wrapper to the container
        buttonContainer.appendChild(buttonWrapper);
    }
    const toggler = document.querySelector('.menu__toggler');
    const menu = document.querySelector('.menu');
        toggler.addEventListener('click', () => {
        toggler.classList.toggle('active');
        menu.classList.toggle('active');
    });
    document.getElementById('fileInput').addEventListener('change', function() {
        var fileInput = document.getElementById("fileInput");
        var file = fileInput.files[0];
        
        uploadFile(file)
    });
    const recordButton = document.getElementById("record_trigger");
    const ring2 = document.getElementById("trigger_ring2");
    let isButtonActive = false;

    recordButton.addEventListener("click", () => {
        // Mouse button is pressed
        isButtonActive = true;
        // Show ring2
        ring2.style.opacity = "1";
        const circle = document.getElementById("record_trigger");
        circle.classList.add('animate');

        circle.style.animationPlayState = 'running';        
        dimAndDisableButtons()
        let pictureList=captureScreenshots(5,30,renderer);
        console.log(pictureList)
        
    });
    function uploadGif(file) {
        // var fileInput = document.getElementById("objFile");
        // var file = fileInput.files[0];
        var request = new XMLHttpRequest();

        request.open("PUT", "/upload_Gif?filename=" + file.name);
        request.send(file);
        request.onreadystatechange = function() {
            // @TODO: Validate file
            console.log("Ready State: " + this.readyState + " Status: "+ this.status)
            if (this.readyState == 4 ) {
                switch (this.status){
                    case 200:
                        write_to_gif_list(file.name)
                        const ring2 = document.getElementById("trigger_ring2");
                        undimAndEnableButtons()
                        const circle = document.getElementById("record_trigger");
                        circle.classList.remove('animate');

                        ring2.style.opacity="0"
                        break;
                    
                    default:
                        console.log("nope")
                }
            }
        };
    }

    function uploadFile(file) {
        // var fileInput = document.getElementById("objFile");
        // var file = fileInput.files[0];
        var request = new XMLHttpRequest();

        request.open("PUT", "/upload?filename=" + file.name);
        request.send(file);
        request.onreadystatechange = function() {
            // @TODO: Validate file
            console.log("Ready State: " + this.readyState + " Status: "+ this.status)
            if (this.readyState == 4 ) {
                switch (this.status){
                    case 200:

                        ModelTable.push(file.name);
                        const loader = new FBXLoader();
                        getOneModel(file.name,loader)
                        write_to_file(file.name)
                        break;
                    
                    default:
                        console.log("nope")
                }
            }
        };
    }
    function get_txt(){
        // Fetch the text file
        fetch("/static/user_data/List.txt")
        .then(function(response) {
            if (!response.ok) {
            throw new Error("Network response was not ok");
            }
            return response.text();
        })
        .then(function(text) {
            var lines = text.split('\r\n'); // Split the text into an array of lines
            
            ModelTable=lines
            
            console.log(ModelTable);
            if(ModelTable.length>1)
            {
                ModelTable.pop()
                const loader = new FBXLoader();
                GetModel(ModelTable,loader)
            }
            else{
                console.log("no previous model")
            }
            return lines
        })
        .catch(function(error) {
            console.error("Error loading the file:", error);
        });
    }
    function write_to_file(content) {
        if (!content) {
            console.error("Content is empty.");
            return;
        }

        // Create a FormData object to send data as a form
        const formData = new FormData();
        formData.append("content", content);

        // Make a POST request to the Flask route
        fetch("/append_to_file", {
            method: "POST",
            body: formData
        })
        .then(response => response.text())
        .then(data => {
            console.log(data); // Display the response from the server
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
    function write_to_gif_list(content) {
        if (!content) {
            console.error("Content is empty.");
            return;
        }

        // Create a FormData object to send data as a form
        const formData = new FormData();
        formData.append("content", content);

        // Make a POST request to the Flask route
        fetch("/append_to_gif_list", {
            method: "POST",
            body: formData
        })
        .then(response => response.text())
        .then(data => {
            console.log(data); // Display the response from the server
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
    function createGif(imageArray, interval) {
        const gif = new GIF({
            workers: 2,
            quality: 10,
            workerScript: '/static/gif/gif.js.optimized-master/main/gif.worker.js', // Specify the correct path
        });
        let framesAdded = 0; // Track the number of frames added
        console.log("in gif", imageArray, interval);

        imageArray.forEach((imageDataUrl) => {
            try {
                // Create a new Image object and set its source to the data URL
                const img = new Image();
                img.src = imageDataUrl;

                img.onload = () => {
                    gif.addFrame(img, { delay: interval });
                    framesAdded++;

                    if (framesAdded === imageArray.length) {
                        gif.render();
                        gif.on('finished', (blob) => {
                            console.log("GIF rendering finished.");
                            try {
                                let newName=ModelList[currentModelIndex].name.replace(".fbx","")
                                let newAnimName=AnimTable[currentAnimIndex].replace(".fbx","")
                                newName=newName+"@"+newAnimName +".gif"
                                const file = new File([blob],newName, { type: "image/gif" });
                                uploadGif(file);
                            } catch (err) {
                                console.error("Error converting GIF to Blob:", err);
                            }
                        });
                    }
                };
            } catch (err) {
                console.error("Error processing image:", err);
            }
        });
    }

    function captureScreenshots(durationInSeconds, framesPerSecond, renderer) {
        return new Promise((resolve, reject) => {
            // Calculate the interval between each screenshot in milliseconds
            const interval = 1000 / framesPerSecond;

            // Initialize a frame counter and an array to store screenshots
            let frameCount = 0;
            const screenshots = [];

            // Create a function to capture a single screenshot
            function captureScreenshot() {
                // Check if the desired number of frames has been captured
                if (frameCount >= durationInSeconds * framesPerSecond) {
                    clearInterval(intervalId); // Stop capturing screenshots
                    resolve(screenshots); // Resolve the promise with the captured screenshots
                    console.log(frameCount)
                    return;
                }

                // Capture the screenshot as a data URL (assuming renderer is defined)
                const screenshotDataUrl = renderer.domElement.toDataURL("image/jpeg");

                screenshots.push(screenshotDataUrl);

                frameCount++;
            }

            // Schedule the captureScreenshot function to run at the specified interval
            const intervalId = setInterval(captureScreenshot, interval);
        })
        .then((screenshots) => {
            // Call createGif with the captured screenshots
            createGif(screenshots,framesPerSecond);
        })
        .catch((error) => {
            console.error("Error capturing screenshots:", error);
        });
    }

    
    function dataURLToBlob(dataURL) {
        const parts = dataURL.split(';base64,');
        const contentType = parts[0].split(':')[1];
        const raw = window.atob(parts[1]);
        const rawLength = raw.length;
        const uInt8Array = new Uint8Array(rawLength);

        for (let i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }

        return new Blob([uInt8Array], { type: contentType });
    }
</script>
{% endblock %}
