{% block content %}
<style>
	@font-face {
		font-family: 'Amun Celestial';
		src: url('/static/resources/font/amun_celestial.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	body {
		background-color: #222;
		color: #fff;
		font-weight: 400;
		font-size: 5vw;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-family: "Amun Celestial", sans-serif; /* Use the custom font here */
		height: 100vh;
		box-sizing: border-box;
		letter-spacing: 6px;
		margin: 0;
		line-height: 1.2;
	}

	span {
		display: inline-block;
	}

	.square {
		background-color: #f00;
		width: 50px;
		height: 50px;
		margin: 10px;
	}
</style>
<body>
	<div>
		<div class="animate-me">
		  letterize.js&anime.js
		</div>
		<div class="animate-me">
		  anime.js&letterize.js
		</div>
		<div class="animate-me">
		  letterize.js&anime.js
		</div>
		<div class="animate-me">
		  anime.js&letterize.js
		</div>
		<div class="animate-me">
		  letterize.js&anime.js
		</div>
		<div class="animate-me">
		  anime.js&letterize.js
		</div>
		<div class="animate-me">
		  letterize.js&anime.js
		</div>
		<div class="animate-me">
		  anime.js&letterize.js
		</div>
		<div class="animate-me">
		  letterize.js&anime.js
		</div>
		<div class="animate-me">
		  anime.js&letterize.js
		</div>
		<div class="animate-me">
		  letterize.js&anime.js
		</div>
		<div class="animate-me">
		  anime.js&letterize.js
		</div>
		<div class="animate-me">
		  letterize.js&anime.js
		</div>
		<div class="animate-me">
		  anime.js&letterize.js
		</div>
	</div>
</body>
<script type="module">
	import Letterize from "https://cdn.skypack.dev/letterizejs@2.0.0";
	import anime from "/static/animejs/lib/anime.es.js";
	const test = new Letterize({
        targets: ".animate-me",
	});
	const animation = anime.timeline({
		targets: test.listAll,
		delay: anime.stagger(100, {
			grid: [test.list[0].length, test.list.length],
			from: "center"
		}),
		loop: true
	});
	
	animation
	.add({
		scale: 0.5
		
	})
	.add({
		letterSpacing: "10px"
	})
	.add({
		scale: 1
	})
	.add({
		letterSpacing: "6px"
	});
</script>
{% endblock %}
